# Dependencies
node_modules/
/.pnp
.pnp.js

# Next.js & Build Outputs
.next/
out/
build/
dist/
coverage/

# Misc
.DS_Store
*.pem

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local environment files (Do not commit real API keys)
.env*.local
.env

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Python
__pycache__/
*.pyc
